<% include ../partials/header %>
<link rel="stylesheet" href="/css/gmap.css">
<div class="row">
<div class="container">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center">
                <h1 class="display-4 mt-5">Edit Camp</h1>
            </div>
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="form">
                <div class="form-group">    
                <input type="text" name="campground[name]" placeholder="Enter Camp Name" class="form-control" value="<%= campground.name %>">
                </div>
                <div class="form-group">
                    <input type="text" name="coordinates[lat]" id="latitude" class="form-control" value="<%= campground.coordinates.lat %>"hidden required>
                </div>
                <div class="form-group">
                    <input type="text" name="coordinates[long]" id="longitude" class="form-control"  value="<%= campground.coordinates.long %>" hidden required>
                </div>
                <div class="form-group">
                <input type="number" name="campground[price]" value="<%= campground.price %>" step="0.01" min="0.01" class="form-control">
                </div>
                <div class="form-group">
                <input type="text" name="campground[image]" placeholder="Enter Image URL" class="form-control" value="<%= campground.image%>"">
                </div>
                <div class="form-group">
                <textarea name="campground[description]" id="campground[description]" cols="30" rows="10" class="form-control" placeholder="Enter Description"><%= campground.description%></textarea>
                </div>
                <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block">
                </div>
                <a href="/campgrounds">< Go Back</a>
            </form>
        </div>
          <div class="col-lg-8 mt-5">
            <div style="display: none">
                <input id="pac-input"
                    class="controls"
                    type="text"
                    placeholder="Enter a location">
            </div>
            <div id="map"></div>
            <div id="infowindow-content">
                <span id="place-name" class="title"></span><br>
                <strong>Place ID:</strong> <span id="place-id"></span><br>
                <span id="place-address"></span>
            </div>    
        </div>
    </div>
    
</div> 
</div>

<script src="/js/map/editMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5HBuQQ1a4Uoyr_l7yxJokjnQDO43Nruk&libraries=places&callback=initMap"
        async defer></script>

<% include ../partials/footer %>