<% include ../partials/header %>
<%include  ../partials/transparentNav%>

<link rel="stylesheet" href="/css/gmap.css">

<header class="banner d-flex justify-content-center align-items-center" style="background-image: url(<%= campground.image %>);">
    <div class="overlay"></div>
    <div class="header container text-center text-white"> 
        <h1 class='display-3 d-block'><%= campground.name %></h1>
    <button class=" btn btn-primary px-4 headerButton" id="bookingBtn" data-toggle="modal" data-target="#bookCampModal">Book</button>
    </div>
</header>


<div class="container-fluid mt-5 px-5">
    <div class="row">
    <%# MAP SECTION %>
        <div class="col-md-5">
            <div id="map"></div>
        </div>
        <div class="col-md-7">
        <%# POST OPTIONS %>
        <div class="postoptions mb-4">
            <a href="https://maps.google.com/?q=<%= campground.coordinates.lat %>,<%= campground.coordinates.long %>" id="gMapLink">View in Google Maps</a> 
            <% if(currentUser && currentUser.equals(campground.author.id)) { %>
            <p class="d-inline"> | </p>
            <p class=" d-inline"><a href="/campgrounds/<%= campground.id %>/edit" id="showCampDeleteBtn">Edit</a></p>
            <p class="d-inline"> | </p>
            <form action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST" class="d-inline">
                <button id="showCampDeleteBtn">Delete</button>
            </form>
            <% } %>
            <div class="float-right">
                <p class="lead d-inline">Ratings: </p>
                <div class="ui heart rating" data-rating="<%= parseInt(campground.rating)%>" data-max-rating="5"></div>
            </div>
            </div>
            <input type="text" id="lattitude" value="<%= campground.coordinates.lat %>" hidden>
            <input type="text" id="longitude" value="<%= campground.coordinates.long %>" hidden>
   
             <% if(currentUser && currentUser.reviewedCamps.includes(campground._id)){ %>
            <a href="#reviewSection" class="btn btn-primary float-right px-4" id="reviewBtn"> Edit Your Review </a>             
            <%} else {%>
            <button class="btn btn-primary float-right  px-4" id="reviewBtn"  data-toggle="modal" data-target="#addReviewModal"> Leave a Review </button>
            <% } %>

            <p class="lead mb-0 number-regular"> <strong> Price: $ <%= campground.price %> / night </strong></p>
            <p class="mt-0 lead">Submitted by 
                <% if(currentUser && currentUser.equals(campground.author.id)) { %>
                    You
                <%} else {%>
                <%= campground.author.username %>
                <%}%>
            </p>
            <p class="lead" id="campgroundDesc"> <%=campground.description%></p>
        </div>
    </div>
    
    <hr>

    <div class="container-fluid px-5" id="reviewSection">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center sticky-top pt-5">
                <h5 class="mb-0">Ratings</h5>
                <h2 class="display-2 number"><%=campground.rating.toFixed(1)%></h2>
                <div class="ui rating heart" data-rating="<%=Math.floor(campground.rating)%>" data-max-rating="5"></div>
                <h6><i class="user icon mr-2 mb-5 number"></i><%=campground.reviews.length%></h2>
                <div class="ct-chart mt-2"></div>
            </div>
        </div>
        <div class="offset-md-1 col-md-7">
            <div class="ui comments">
            <h3 class="ui dividing header mt-5">Reviews</h3>
            <% campground.reviews.forEach(function(review){ %>
            <div class="comment">
                <a class="avatar">
                    <img src="https://www.w3schools.com/howto/img_avatar.png">
                </a>
                <div class="content">
                    <a class="author"><%= review.author.username %></a>    
                    <div class="metadata">
                    <span class="date number-regular"><%= review.created.toDateString() %></span>
                    </div>
                    <div class="text">
                        <form action="/campgrounds/<%= campground.id %>/reviews/<%= review._id %>?_method=PUT" method="POST" class="d-none" id="<%=review.id%>form">
                            <div class="input-group my-2">
                                <input type="text" class="form-control" value="<%=review.content%>" name="review[content]">
                                <input type="number" id="<%=review.id%>editRatingField" name="review[rating]" hidden>
                                <div class="input-group-append">
                                <input type="submit" value="Submit" class="btn reviewSubmit" id="<%=review.id%>submit">
                                </div>
                            </div>
                            <div class="ui star rating interactable d-none edit" id="<%=review.id%>editRating" data-rating="<%=review.rating%>" data-max-rating="5"></div>
                        </form>
                        <div id="<%=review.id%>reviewTextDisplay" class="mb-2 reviewText">
                            <%=review.content%>
                        </div>
                        <div class="ui heart rating" id="<%=review.id%>displayRating" data-rating="<%=review.rating%>" data-max-rating="5"></div>
                    </div>
                    <% if(currentUser && currentUser.equals(review.author.id)) {%>
                    <div class="actions">
                        <button class="showDeleteBtn reviewEditBtn" id="<%= review.id%>" onclick="toggleEditForm(this)">Edit</button>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review.id%>?_method=DELETE" method="POST" class="d-inline">
                            <button class="showDeleteBtn">Delete</button>
                        </form>         
                    </div>
                    <%}%>
                    </div>
                </div> 
            <% }) %>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalCloseBtn">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h1 class=" d-inline lead">Rate:</h3>
        <div class="ui rating heart interactable" data-rating="1" data-max-rating="5"></div>
        <form action="/campgrounds/<%= campground._id %>/reviews" method="POST">
            <input type="text" id="ratingField" name="review[rating]"hidden>
            <textarea name="review[content]" id="reviewContent" cols="30" rows="10" class="form-control mt-3" placeholder="Add Your Review Here"></textarea>
            <input type="submit" value="Submit" class="btn btn-primary float-right mt-3">
        </form>
    </div>
    </div>
  </div>
</div>

<script src="/lib/jQuery.3.1.1.min.js"></script>
<script src="/js/placeViewer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5HBuQQ1a4Uoyr_l7yxJokjnQDO43Nruk&libraries=places&callback=initMap"
        async defer></script>
<script src="/lib/semantic/dist/components/rating.min.js"></script>
<script src="/lib/semantic/dist/components/modal.min.js"></script>
<script src="/lib/semantic/dist/components/rail.min.js"></script>
<script src="/lib/semantic/dist/components/sticky.min.js"></script>
<script src="/lib/chartist/chartist.min.js"></script>
<script src="/js/chart.js"></script>
<script src="/js/ratingInitandEdit.js"></script>
    

<% include ../partials/footer %>
